<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="{{url_for('blog_page', num=4)}}">Go to blog page</a>
<h2>{{num}}</h2>
{% for key,value in data.items(): %}
    {% if is_list(value): %}
        <h1>{{key}}</h1>
        {% for item in value: %}
            <span>{{item}}</span>
        {% endfor %}
    {% else: %}
    <h1>{{key}}</h1>
    <p>{{value}}</p>
    {% endif %}
{% endfor %}
</body>
<footer>
    <p>Copyright {{year}}.  Built by Matthew</p>
</footer>
</html>